{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            Hello, <b>{{ user.username }}</b>!
        </div>
        <div>

        </div>
    </div>


{% endblock %}