{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            Hello, <b>{{ user.username }}</b>!
        </div>
        <div>
            <a href="{{ path('logout') }}" class="btn">Logout</a>
        </div>
    </div>


{% endblock %}