 <div class="grid-header row">
        <div class="title">
            <h3>Products</h3>
        </div>
        <div class="settings">
            <div class="sort-by settings-element">
                <label for="sort-by-value">Sort by</label>
                <select class="settings-select" name="sort_by_value" id="sort-by-value">
                </select>
            </div>
            <div class="sort-type settings-element">
                <label for="sort-order-value">Sort type</label>
                <select class="settings-select" name="sort_type_value" id="sort-order-value">
                    <option value="asc" selected>ascending</option>
                    <option value="desc">descending</option>
                </select>
            </div>
            <div class="filter-field settings-element">
                <label for="filter-field-value">Filter field</label>
                <select class="settings-select" name="filter_field_value" id="filter-field-value">
                </select>
            </div>
            <div class="filter-pattern settings-element">
                <label for="filter-pattern">Filter pattern</label>
                <input type="text" placeholder="Hit enter after typing" class="input-field" id="filter-pattern">
            </div>
            <!--<div class="settings-element">
                <button class="find-filtered transition btn waves-effect settings-element" id="submit-button">FIND</button>
            </div>-->
        </div>
    </div>
    <div class="grid row">
    </div>
    <ul class="pagination pagination-sm">

    </ul>
