<!DOCTYPE html>
<html>
    <body>
        <h2>Password recovery at ProductCatalog</h2>
        <p>To complete password recovery visit the following link: <a href="127.0.0.1:8000/password-recovery/confirm/{{ access_token }}"></a></p>
        <span style="float: right">With best wishes, admin of ProductCatalog</span>
    </body>
</html>