{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="row col s6 push-s3">
            {% if message %}
                <div class="recovery-error">{{ message }}</div>
            {% endif %}
            <div class="col s12">Recover your password</div>
            {{ form_start(form) }}
            <form id="recovery-form-send" action="{{ path('password_recovery_confirmation') }}" class="col s12">
                <div class="input-field col s12">
                    <input type="text" id="email" name="_email" placeholder="Enter your email" class="validate">
                    <label for="username">Email:</label>
                </div>
                <input type="submit" class="btn btn-block" value="{{ btn_send_text }}">
            </form>
        </div>
    </div>
{% endblock body %}