{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Welcome to Product Catalog</h2>
                <p>Please, <a href="{{ path('security_login') }}">login</a>, or <a href="{{ path('user_register') }}">register</a>, if you haven't yet.</p>
            </div>
        </div>
    </div>
{% endblock %}