{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>New product</h1>

                {{ include('admin/product/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}