* {
    margin: 0;
    padding: 0;
}

.transition {
    transition: all .2s ease;
}

.transition-long {
    transition: all .4s ease;
}

.rounded {
    border-radius: 3px;
}

.col {
    padding: 0 !important;
}

body {
    background: rgb(235, 235, 235);
    font-family: "Roboto", sans-serif;
}

#grid-container {
    margin: 15px 15px 0 15px;
}

.grid-wrapper {
    position:absolute;
    width:80%;
    top:3%;
    left:50%;
    transform:translate(-50%);
}

.grid-header {
    display: flex;
    margin-bottom:15px;
}

.grid-header .title {
    display: flex;
    flex-grow: 1;
    align-content: center;
}

.grid-header .title h2 {
    margin:0;
}

.grid-header .settings {
    display: flex;
}

.grid-header .settings .settings-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.settings input[type="text"] {
    margin:0;
    height:40px;
}

.settings select {
    margin-left:0;
}

.preloader {
    position:fixed;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.grid {
    display: none;
}

.grid .grid-item {
    margin-top:20px;
    cursor:pointer;
    background:#fff;
}

.grid .grid-item:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}

.grid .grid-item .prod-info {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.grid-item .image-wrapper {
    position:relative;
    display: block;
    width:100%;
}

.grid-item .image-wrapper .edit-item {
    position: absolute;
    bottom:-15px;
    right:20px;
}

.grid-item .image-wrapper img {
    width:100%;
    max-height: 250px;
}

.grid .grid-item .name-id {
    margin-top:15px;
    min-height:45px;
}

.grid .grid-item .description {
    margin-top:10px;
    text-align: justify;
    justify-content: center;
    min-height:110px;
}

.grid .grid-item .year {
    float:right;
    margin-bottom:10px;
}

.pagination {
    display: flex;
    margin:30px 0;
    align-content: center;
    justify-content: center;
}

.pagination .active {
    background: #2bbbad;
    color:#fff;
}

@media screen and (max-width:2000px) {
    .grid-item {
        width:calc(100% / 4 - 25px) !important;
        margin-right:18px;
    }

    .grid-item:nth-child(4n-3) {
        margin-left:18px;
    }

    .grid-item:nth-child(4n) {
        margin-right: 0;
    }
}